<ion-view title="BONÉS" id="page4">
  <ion-content padding="true" style="background: url(img/pS8vIeKFQMCenqpcteDt_tema20de20fundo20app.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="bONS-slider5" style="width:100%;height:200px;">
      <ion-slide-page id="bONS-slide216" style="background:url(&quot;img/YmJ5sPO7RqeqSRImZxcM_SemTtulo-1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bONS-slide217" style="background:url(&quot;img/9L6K0KxAQDO7PxyZoSty_imagemdonb.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bONS-slide218" style="background:url(&quot;img/vR1TBgY4RcaBr1ce4OGS_boneadidas.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <div id="bONS-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">CONHEÇA ALGUNS DE NOSSOS BONÉS</p>
    </div>
    <div>
      <img src="img/9F8pTNkaTk6IG8qMPblV_NIKESBBONE.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 283px; height: 30px;"></div>
    <div>
      <img src="img/VbeiQO9WRzWDOyNCpvXk_BONCLEVELAND.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div>
      <img src="img/cXy3gXOS7WqmsID3mFte_BONEDC.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div>
      <img src="img/SVYGgOSSRKPe7xfzJsyV_MADEINROA.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>