<ion-view title="Cadastro" id="page6">
  <ion-content padding="true" style="background: url(img/bkopadcTQuS0eAUr7b8v_313as.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 283px;"></div>
    <form id="cadastro-form2" class="list">
      <ion-list id="cadastro-list2">
        <label class="item item-input" id="cadastro-input3">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input4">
          <span class="input-label">UF</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input5">
          <span class="input-label">Bairro</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="cadastro-input6">
        <span class="input-label">CPF</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input7">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input8">
        <span class="input-label">Endereço</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input9">
        <span class="input-label">Cidade</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input10">
        <span class="input-label">CEP</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input11">
        <span class="input-label">Contato</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 46px;"></div>
      <button id="cadastro-button36" class="button button-balanced button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>