<ion-view title="CAMISETAS" id="page2" style="background-color:#C1C1C1;">
  <ion-content padding="true" style="background: url(img/PsF3fBmQ2CVASiVnWJVr_tema20de20fundo20app.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="cAMISETAS-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="cAMISETAS-slide210" style="background:url(&quot;img/26igYQ9ThiEXdlnW86Zp_thepsgshirtbymauroeumaajudinhadodhenzelviuotavio.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cAMISETAS-slide211" style="background:url(&quot;img/tOi9effASgiYpLMX0ypQ_thedcshirtbymauroeumaajudinhadodhenzelviuotaviomenor.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cAMISETAS-slide22" style="background:url(&quot;img/5cer3VYPR7idoZIoXJN0_imagen1kilocamiseta.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 283px; height: 11px;"></div>
    <div id="cAMISETAS-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">CONHEÇA ALGUMAS DE NOSSAS CAMISETAS</p>
    </div>
    <div>
      <img src="img/d2zdZ76iTB24HCOpLKbZ_camisetahurley.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 283px; height: 30px;"></div>
    <div>
      <img src="img/G54bgVLCSnuc2uWOSRN4_CAMISETASUPREME.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 283px; height: 30px;"></div>
    <div>
      <img src="img/gJpuVrJDRakk95Di8qgI_camisetajordaniamenor.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div>
      <img src="img/LD7OMKqqSfqAVo2g5wkC_corinthians.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>