<ion-view title="INICIO" id="page1" style="background-color:#AA7E60;">
  <ion-content padding="true" style="background: url(img/7eLLKhItR8OYUNNoaYRv_tema20de20fundo20app.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/lD1KJHF4SlieHlI58XNv_SemTtulo-1-Recuperado.png" style="display: block; width: 300px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 283px; height: 5px;"></div>
    <h4 id="iNICIO-heading3" style="color:#FFFFFF;font-weight:600;text-align:center;">Conheça Nossos Produtos</h4>
    <div class="spacer" style="width: 283px; height: 5px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="iNICIO-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="iNICIO-slide24" style="background:url(&quot;img/UoMcqRKRAy2vwwRVndwQ_ATLETICODEMADRImenor.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="iNICIO-slide26" style="background:url(&quot;img/fjUJJVTgQjiANAKUOd3q_adidasadidas.jpg&quot;) no-repeat center;background-size:cover;background-color:defeaut;"></ion-slide-page>
      <ion-slide-page id="iNICIO-slide25" style="background:url(&quot;img/g20us0A1TTKZnsolpqYx_imagemdonb.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 283px; height: 5px;"></div>
    <h4 id="iNICIO-heading4" style="color:#FFFFFF;font-weight:600;text-align:center;">Entre em contato conosco</h4>
    <div id="iNICIO-button-bar2" class="button-bar">
      <a href="tel:019 998194837" id="iNICIO-button24" style="font-weight:600;font-size:22px;" class="button button-balanced icon-left ion-social-whatsapp">Pedro</a>
    </div>
    <div id="iNICIO-button-bar3" class="button-bar">
      <a href="tel:019 989593944" id="iNICIO-button30" style="font-weight:600;font-size:22px;" class="button button-balanced button-block icon-left ion-social-whatsapp">Marcello</a>
    </div>
    <div id="iNICIO-button-bar4" class="button-bar">
      <a href="tel:019 97109-5637" id="iNICIO-button33" style="font-weight:600;font-size:22px;" class="button button-balanced icon-left ion-social-whatsapp">LOJA</a>
    </div>
    <h4 id="iNICIO-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;">Acompanhe-nos nas redes sociais</h4>
    <div id="iNICIO-button-bar1" class="button-bar">
      <a href-inappbrowser="https://www.facebook.com/ToppenStoreOficial/" id="iNICIO-button18" class="button button-positive button-block icon ion-social-facebook"></a>
      <a href-inappbrowser="https://www.instagram.com/toppen.store/" id="iNICIO-button19" class="button button-assertive button-block icon ion-social-instagram-outline"></a>
    </div>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <div>
      <img src="img/JQEiv8yjQHuDRi5aPm9M_SemTtulo-1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>