<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#898989;">
    <ion-header-bar class="bar-stable">
      <div class="title">MENU</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/AavNPinqQpqAvwMWetYp_tema20de20fundo20app.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <a ui-sref="mENU.cadastro()" menu-close="" id="mENU-button37" class="button button-positive button-block icon-left ion-log-in">CADASTRE - SE</a>
      <a ui-sref="mENU.iNICIO()" menu-close="" id="mENU-button11" style="color:#FFFFFF;" class="button button-positive button-block icon-left ion-ios-home">INICIO</a>
      <a ui-sref="mENU.cAMISETAS()" menu-close="" id="mENU-button12" class="button button-positive button-block icon-left ion-tshirt">CAMISETAS</a>
      <a ui-sref="mENU.rELGIOS()" menu-close="" id="mENU-button13" class="button button-positive button-block icon-left ion-ios-clock">RELÓGIOS</a>
      <a ui-sref="mENU.bONS()" menu-close="" id="mENU-button14" class="button button-positive button-block icon-left ion-android-contact">BONÉS</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>