<ion-view title="RELÓGIOS" id="page3">
  <ion-content padding="true" style="background: url(img/ThwMaMWqRee7DfPiFYTF_tema20de20fundo20app.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="rELGIOS-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="rELGIOS-slide27" style="background:url(&quot;img/JzcZVTyaS5eCgTPZnRwf_relogio1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="rELGIOS-slide28" style="background:url(&quot;img/Bj3fhCIARyyBFUH3IuEN_relogioadidasbranco.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 283px; height: 6px;"></div>
    <h3 id="rELGIOS-heading6" style="color:#FFFFFF;font-weight:600;text-align:center;">CONHEÇA ALGUNS DOS NOSSOS RELÓGIOS</h3>
    <div>
      <img src="img/KbeJuM1NRpiL5pei4Kob_DKFJLKSDLSDJFLKSDF.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div>
      <img src="img/iwI2C2IcQkC783T52bd3_ASKOV.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div>
      <img src="img/6lAyDWYbTHGTDLcDcjCz_SemTtulo-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>